*.csv
**/*.csv
*.bin
**/*.bin

*.xlsx
**/*.xlsx

*.gz
**/*.gz

*.pkl
**/*.pkl


*.joblib
**/*.joblib

*.vscode
**/*.vscode

*.vscode/
**/*.vscode/


__pycache__/

.env
**/__pycache__/
**/__pycache__/

